<h1>Welcome to my life</h1> 

<form action="password">
    <h2>Password generator</h2>
    <label for="length">Longitud de tu contraseña</label>
    <select name="length" id="length">
        <option value="6">6 caracteres</option>
        <option value="7">7 caracteres</option>
        <option value="8">8 caracteres</option>
        <option value="9">9 caracteres</option>
        <option value="10">10 caracteres</option>
        <option value="11">11 caracteres</option>
        <option value="12">12 caracteres</option>
        <option value="13">13 caracteres</option>
    </select>

    <label for="uppercase">Uppercase</label>
    <input type="checkbox" name="uppercase" id="uppercase">

    <label for="special">Caracteres Especiales</label>
    <input type="checkbox" name="special" id="special">

    <label for="numbers">Numbers</label>
    <input type="checkbox" name="numbers" id="numbers">

    <button>Generar contraseña</button>
</form>